body{
   font-family: 'Raleway', sans-serif;
    background-color: #b07cf7;
}
.title{
   font-size: 100px;
   font-weight: 700;
   margin-top: 100px;
   color: white;
   text-align: center;
}
.subtitle{
   font-size: 17px;
   font-weight: 300;
   margin-top: 50px;
   margin-bottom: 50px;
   color: white;
   text-align: center;
}


   
    

 



